<div class="col-10">
    <div class = "title">
        Login
    </div>
    
    <form class = "form">
        <div class = "mb-3">
            <label for = "setName">Username</label>
            <input id = "setName" type="text" class = "input">
        </div>
        <div class = "mb-3">
            <label for = "setDescription">Password</label>
            <input id = "setDescription" type="password" class = "input">
        </div>
        <div class = "check-field">
            <label class="check">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label for="check">Remember username</label>
        </div>
        <div class = "mb-3">
            <input type="button" value="Login" onclick="" class = "input-button">
        </div>
        <div class="text-field">
            Don't have an account? <a class = "link" routerLink="/register"><b> Register </b></a> here!
        </div>
    </form>
</div>