<app-navbar-component></app-navbar-component>
<div class="main-container">
    <!--  <app-slider-component></app-slider-component>-->
    <div class="page-container">
        <div class="sidebar-container show" id="sidebar">
            <app-sidebar-component></app-sidebar-component>
        </div>
        <div class="content-container">
            <div class="page-content">
                <div id="page-header"></div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
<!--    <div>-->
<!--        <app-footer-component></app-footer-component>-->
<!--    </div>-->
</div>
